* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-icon {
  color: rgb(87, 87, 87);
  font-size: 1.2em;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 300px auto;
  background: white;
  background-image: radial-gradient(#ebb583 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;
}

.imageContainer {
    height: 100vh;
    padding: 1em;
    position: relative;
}

.imageContainer .imageCard {
    position: absolute;
    overflow: hidden;
    width: 60%;
    aspect-ratio: 4/3;
    border-radius: 10px;
    border: 2px dashed grey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

.imageContainer .imageCard:hover {
    z-index: 100;
    border: 2px dashed tomato;
    box-shadow: 0 0 10px 10px grey;
}

.imageCard .cardActions {
    display: flex;
    opacity: 0;
    transition: 0.2s;
    margin: 10px;
    gap: 10px;
}

.imageCard:hover .cardActions {
    opacity: 1;
}

.imageCard .cardActions button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 0;
    background: rgba(0,0,0,.05);
    backdrop-filter: blur(8px);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.15s;
}

.chatBox {
  height: calc(100vh - 1em);
  border: 1px solid #f0ba87;
  backdrop-filter: blur(2px);
  margin: 0.5em;
  /* padding: 0.5em; */
  position: relative;
  /* border-radius: 5px; */
}

.chatBox::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  height: 10px;
  width: 10px;
  border: 1px solid #f0ba87;
  border-radius: 2px;
  background-color: #fff1e4;
}

.chatBox::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -5px;
  height: 10px;
  width: 10px;
  border: 1px solid #f0ba87;
  border-radius: 2px;
  background-color: #fff1e4;
}

.inputContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: 0.5em;
  display: flex;
  border-top: 1px solid #f0ba87;
  font-size: 1.2em;
  backdrop-filter: blur(10px);
}

.inputContainer input {
  border: none;
  outline: none;
  background-color: transparent;
  flex: 1;
}

.inputContainer .generateButton {
  cursor: pointer;
}

.chatContainer {
  padding: 0.2em 0.2em 3em 0.2em;
  height: 100%;
  overflow-y: auto;
}

.chatContainer p {
  background-color: #f0ba8760;
  cursor: pointer;
  padding: .5em;
  margin: .5em;
  position: relative;
  transition: .1s;
  overflow-wrap: break-word;
}

.chatContainer p:hover {
    background-color: #f0ba87bd;
}

.chatContainer p::before {
    border: 1px solid black;
    background-color: white;
    padding: .5em;
    border-radius: 10px;
    font-size: 0.8em;
}

.chatContainer p.success::before {
  position: absolute;
  bottom: -5px;
  right: -7px;
  content: "✅️";
}
.chatContainer p.loading::before {
  position: absolute;
  bottom: -5px;
  right: -7px;
  content: "⏰";
}
.chatContainer p.failure::before {
  position: absolute;
  bottom: -5px;
  right: -7px;
  content: "❌";
}
